[Output]
base_dir=./booth
#original_captures_folder_name=pictures
#compositions_folder_name=compositions

[Composition.default]
yaml_path=

[Camera]
# Engine must be one of: 'gphoto', 'dummy'
engine=gphoto

[Events]
log_path=/tmp/booth_event.log

[Webserver]
enabled=false
#port=1502
